{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<div class="row">
	<div class="col-lg-5">
		<form method="post" class="form-white-bg">
		  {% csrf_token %}
		 {{ form.as_p }}
		  <button type="submit" class="btn btn-success mb-2">Login</button>
		</form>
	</div>
	<div class="col-lg-3">
		<div style="border:1px solid black; padding:20px;border-radius:15px">
			<p><strong>Credentials (Demo)</strong></p>
			<p><strong>username</strong> : admin</p>
			<p><strong>password</strong> : killfish</p>
		</div>
	</div>
</div>
{% endblock %}