{% extends 'base.html' %}



{% block content %}





<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
        <div class="image_count">{{count}} photos</div>
    </div>
    <div class="col-sm">
      <button id="selectMontageBtn" class="btn-sm btn-success">Select for Montage</button>
      <button id="toMontageBtn" class="btn-sm btn-danger" style="display:none">Transfer to Montage</button>
    </div>
    <div class="col-sm">
        <button id="closeMontageBtn" class="btn btn-sm btn-info" style="display:none">Cancel</button>
    </div>
    <div class="col-sm">
        <a id="closeMontageBtn" class="btn btn-dark btn-sm btn-warning ">Modify album details</a>
    </div>
  </div>
<hr>


  <div class="row">
         {% for photo in photos %}
    <div class="col-6 col-md-12 col-lg-3 mb-12">
        <div class="card mx-auto">
          <a href="/image/{{photo.id}}"  onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=640, height=480');"><img class="card-img-top" src="{{ photo.thumb.url }}"  height="150"> </a>
          <div class="card-body">
            <div class="card-text" >
              <a href="/image/{{photo.id}}" ><strong>Refé : {{ photo.reference }} </strong></a> 
                <div>Légende: {{ photo.description }}</div>
                <input class="montageCheckbox" type="checkbox" name="photo.id" style="display:none">
             
            </div>
        </div>
      </div>
    </div>
   {% endfor %}
  </div>
</div>
 



{% endblock %}