{% extends 'base.html' %}



{% block content %}

<div class="container">
<!-- Modal START -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Transfer to montage</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<!-- FORM START -->
				<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div id="selected_images"></div>
						<form id="montageForm" method='POST' action='/send_to_montage/'>
						{% csrf_token %}
							<div class="form-group">
								<label for="pub1" >Publication</label>
								<select id="publications" name="publication" class="form-control">
									<option selected disabled>-----Choose publication---</option>
									{% for pub in publications %}
									 {% if pub.0 != 'ALL' and pub.0 != 'WEB'  and pub.0 != 'NN'  %}

										<option value="{{pub.0}}">{{pub.1}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>

								<div class="form-group">
									<label>Publication date</label>
									<select id="pub-dates" name="pub_date" class='form-control'>
												
										
									</select>
								</div>

								<div class="form-group">
									<label>Dossiers</label>
									<select id="dossiers" name="dossier" class='form-control'>


									</select>
								</div>

								<div id="new-dossier-container" class="form-group" style="display:none">
									<label>New dossier name</label>
									<input id="new-dossier-input" name="new_dossier" type="text" class='form-control'>
								</div>

								<input class="btn btn-sm btn-success" type="submit" value="submit">

						</form>

					</div>
				</div>
			</div>
					 <!-- FORM END -->
			</div>
		 
		</div>
	</div>
</div>
</div>
<!-- Modal END -->


<div class="container-fluid">

	<div class="row">
		 <div class="col-sm">
			<a href="/album_edit/{{album.id}}" class="btn btn-dark btn-sm btn-warning">Modify album</a>
		</div>
		<div class="col-sm">
			<button id="selectMontageBtn" class="btn-sm btn-success">Select for Montage</button>
			 <button id="toMontageBtn" type="button" class="btn btn-sm btn-info "  data-target="#exampleModal" style="display:none">Transfer to montage</button>
		</div>
		<div class="col-sm">
				<button id="closeMontageBtn" class="btn btn-dark btn-sm btn-info" style="display:none">Cancel</button>
		</div>
	</div>
<hr>

<h4 class="album_title">Title : {{album.title}}</h4>
<h6 class="album_title">Photographer : {{album.photograph.name}}</h6>
<h6 class="album_title">Date : {{album.publish_date |date:"d-M-Y"  }}</h6>
<div id="selectMontageTxt" class="alert alert-warning alert-dismissible fade show" role="alert" style='display:none;' >
			Click on the images to select for montage
			
		</div>
	 <form id="imageForm"> 
	<div class="row">
 
				 {% for image in album.images.all %}
		<div class="col-md-4 col-sm-12 col-lg-3">
				<div class="card mx-auto">
					<a class="image_href" href="#" onclick="window.open('/image/{{image.id}}','targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=640, height=480');"><img class="card-img-top selectable checkable" src="{{ image.file.url }}"  height="150"> </a>
					 <input class="montageCheckbox" type="checkbox" name="{{image.id}}" style="display:none"> 
					<div class="card-body">
						<div class="card-text" >
							<a href="{{image.file.url}}" target="_blank"><strong>Ref : {{ image.reference }} </strong></a> 
								<div>{{ image.title }}</div>
								<div>{{ image.created |date:"d-M-Y"  }}</div>
								
						 
						</div>
				</div>
			</div>
		</div>
	 {% endfor %}

	</div>
			</form>
</div>




{% endblock %}




{% block script_after %}
{% load staticfiles %}
<script src="{% static 'jquery.imgcheckbox.js' %}" type="text/javascript" ></script>
{% endblock %}

{% block script_before %}
<script type='text/javascript'>
var num = {{pub_dates |safe}};

</script>

{% endblock %}