{% extends 'base.html' %}



{% block content %}

<div class="container">
<div class="row">
  <div class='column'>
      <a href="/album/{{album.id}}" class="btn btn-dark btn-sm btn-warning">  &larr; Back to album </a>
      <br/>
      <br/>
  </div>
</div>
<div class="row">

  <div class="colum">
{% if form.errors %}

    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
  </div>
</div>


<div class="row">
  <div class="column">

  <form  enctype="multipart/form-data" method="POST" class="form-white-bg">
  
  <legend>Create album:</legend>
    
      {% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
    </div>
   
    <input type="submit" value="submit" class='btn btn-success btn-sm'>

  </form>
  </div>
</div>
</div>



{% endblock %}