<html>
<head>
  <title>ePhoto</title>
   {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">




<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'gijgo.css' %}" >
 <link rel="stylesheet" href="{% static 'style.css' %}" >
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/search"><img src="{% static 'logo.png' %}" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/upload">Upload <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/search">Search by day</a>
            <a class="dropdown-item" href="/advanced_search">Advanced search</a>
          </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Montage </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" href="/montage/?p=LM">Le Mauricien</a>
            <a class="dropdown-item" href="/montage/?p=WK">Week-End</a>
            <a class="dropdown-item" href="/montage/?p=SCP">Scope Magazine</a>
             <a class="dropdown-item" href="/montage/?p=TRF">Turf Magazine</a>

          </div>
      </li>
    
    </ul>

      <span class="navbar-text">

   

   </span>
<ul class="navbar-nav mr-auto">
     <span class="navbar-text">
   {% if user.is_authenticated %}
     <li class="nav-item dropdown">
  
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{user.username}} </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/accounts/signout/">Sign out</a>
          </div>
       
   </li>
     {% else %}
     <a class="nav-link">Welcome Guest</a>
     <!-- <a class="nav-link login-btn-nav" href="/accounts/signin/?next=/" >Sign in <span class="sr-only">Sign in</span></a> -->
      {% endif %}
     </span>
 </ul>


  </div>
</nav>
<br>
<div class="container">
{% block content %}
{% endblock %}
</div>

<!-- Footer -->
<footer class="section footer-classic context-dark bg-image" style="background: #50555a;color:#fff">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright Le Mauricien LTD
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% block script_before %}
{% endblock %}
<script src="{% static 'jquery-3.3.1.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'jquery.formset.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap.min.js' %}" type="text/javascript" ></script>

<script src="{% static 'gijgo.min.js' %}" type="text/javascript" ></script>

<script src="{% static 'script.js' %}" type="text/javascript"></script>

{% block script_after %}
{% endblock %}
</body>
</html>