{% extends 'base.html' %}



{% block content %}


<div class="container">



	<div class="row">

    <form  method="GET" action='/advanced_search/' class="form-inline form-white-bg">
  {% csrf_token %}
     	<div class="col-12">
        <div class="form-group">
              {{ form.as_p }}
        </div>
    	<input type="submit" value="search" class='btn btn-success btn-sm'>
    	</div>

    </form>
	</div>
	


</div>


<div class="container-fluid">

<div class="row">

   {% if album %}
    {% for album in album %}
 
    
     
 	<div class="col-md-4 col-sm-12 col-lg-3">
      <div class="card mx-auto text-center">
        <a href="/album/{{album.id}}/"><img class="card-img-top" src="{{ album.cover.url }}" alt="Sample Title" height="150"> </a>
        <div class="card-body">
          <div class="card-title" >
            <div><span class="fa fa-external-link mr-1"></span><a href="/album/{{album.id}}/">{{ album.title | title  }} </a> <span><small>({{ album.photo_count }})</small></span>
            </div>
            <span><small>{{ album.publish_date |date:"d-M-Y" }}</small></span>
             <span><small>{{ album.publication }}</small></span>
            <div><small><strong>{{ album.photograph }}</small></strong></div>
    	</div>
      </div>
    </div>
</div>
        {% endfor %}
       {% else %}
            <div class="colum">
              <div class="alert alert-warning">
               <strong>No results !</strong> No results found matching your query
              </div>
            </div>
       {% endif %}
</div>
</div>
 

<div class="container">



 


{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item" ><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i}}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


</div>

{% endblock %}