<html>
<head>
<title>{{image.title}} from {{image.album.title}}</title>

<style>

body {
  background-color:#f8f9fa;
  padding:10px;
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align:left;
}

a {
  padding:10px;
  margin:10px 0px;
  background-color:#ff9800;
  color:#fff;
  border-radius:3px;
  text-decoration: none;

}

img{
  margin:20px 0;
}

</style>
</head>
<body>

  <table>
    <tr><th>Details</th></tr>
    <tr><th>Title</th><td>{{image.title}}</td></tr>
    <tr><th>Ref</th><td>{{image.reference}}</td></tr>
    <tr><th>Date</th><td>{{image.created}}</td></tr>
    <tr><th>Album</th><td>{{image.album.title}}</td></tr>
  </table>
  <br>
  <a href="{{ image.file.url }}" download>Download image</a>

  
  <img class="card-img-top" src="{{ image.file.url }}"  width="100%" height="auto"/> 
  <br>
  <br>
</body>
</html>




