{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
  {% if publications %}
    <h3>Displaying from last 7 days</h3>
    <div class="row">

      



      {% for pub in publications %}
      <div class="col-md-4 col-sm-12 col-lg-3">
          <div class="card mx-auto">
            <a href="/montage_detail/{{pub.id}}/"><img class="card-img-top" src="{{ pub.cover }}"  height="150"> </a>
            <div class="card-body">
              <div class="card-text" >
                <a href="{{image.file.url}}" target="_blank"><strong>{{pub.get_publication_display}} du {{ pub.publish_date |date:"D, d M Y" }} </strong></a> 
                  <div>{{ pub.created }}</div>
               
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  {% else %}
  <div class="row">
   <div class="column">
              <div class="alert alert-warning">
               <strong>No results !</strong> No results found matching your query
              </div>
    </div>
  </div>
     {% endif %}

</div>
       



{% endblock %}