{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
  {% if subfolders %}
   <h5>Dossiers  </h5>
    <div class="row">

      
      {% for pub in subfolders  %}
      <div class="col-md-4 col-sm-12 col-lg-3">
          <div class="card mx-auto">
            <a href="/subfolder/{{pub.id}}/"><img class="card-img-top" src="{{ pub.cover }}"  height="150"> </a>
            <div class="card-body">
              <div class="card-text" >
                <a href="/subfolder/{{pub.id}}/" target="_blank"><strong>{{pub.title}} </strong></a> 
                <div>{{ pub.publication_folder.publication }} du {{ pub.publication_folder.publish_date |date:"D, d M Y" }}</div>
                <div>{{ pub.images.all.count }} images</div>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <div class="row">
   <div class="column">
        <div class="alert alert-warning">
            <strong>No results !</strong> No results found matching your query
        </div>
    </div>
  </div>
     {% endif %}

</div>
       



{% endblock %}