{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<form method='POST' action='/send_to_montage/' >
			{% csrf_token %}
				<div class="form-group">
					<label for="pub1" >Publication</label>
					<select id="publications" name="publication" class="form-control">

						{% for pub in publications %}
						 {% if pub.0 != 'ALL' and pub.0 != 'WEB'  and pub.0 != 'NN'  %}

							<option value="{{pub.0}}">{{pub.1}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

					<div class="form-group">
						<label>Publication date</label>
						<select id="pub-dates" class='form-control'>
									 	<option>---</option>
						</select>
					</div>

					<div class="form-group">
						<label>Dossiers</label>
						<select id="dossiers" name="dossier" class='form-control'></select>
					</div>

					<div id="new-dossier-container" class="form-group" style="display:none">
						<label>New dossier name</label>
						<input id="new-dossier-input" name="new_dossier" type="text" class='form-control'>
					</div>

					<input type='hidden' name="images_id" value="{{images}}">

					<input class="btn btn-sm btn-success" type="submit" value="submit">

			</form>

		</div>
	</div>
</div>
{% endblock %}

{% block script %}

<script type='text/javascript'>
"use strict";

$(document).ready(function() {

	var num = {{pub_dates |safe}};
	var init_select = $('#publications').val()


});


</script>

{% endblock %}