{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
  {% if subfolder %}
  <h5>Images from subfolder {{subfolder.publication_folder.publication}} {{subfolder.publication_folder.publish_date}} </h5>
  <a href="/montage/?p={{subfolder.publication_folder.publication}}" class="btn btn-dark btn-sm btn-warning">  &larr; Back to {{subfolder.publication_folder.publication}} montage </a>
    <div class="row">

      
      {% for image in subfolder.images.all %}
    
      <div class="col-md-4 col-sm-12 col-lg-3">
          <div class="card mx-auto">
            <a href="#" onclick="window.open('/image/{{image.id}}','targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=640, height=480');"><img class="card-img-top" src="{{ image.file.url }}"  height="150"> </a>
            <div class="card-body">
              <div class="card-text" >
                <a href="/subfolder/{{image.id}}/" target="_blank"><strong>{{image.title}}  </strong></a> 
                 <div><strong>Ref : {{image.reference}}  </strong></div> 
                   {% if image.description %}
                <div><strong>Description : {{image.description}} </strong></div> 
                     {% endif %}
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  {% else %}
  <div class="row">
   <div class="column">
              <div class="alert alert-warning">
               <strong>No results !</strong> No results found matching your query
              </div>
    </div>
  </div>
     {% endif %}

</div>
       



{% endblock %}