{% extends 'base.html' %}



{% block content %}




<div class="container">
<div class="row">
	<div class="colum">
{% if form.errors %}

    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
	{% endif %}
	</div>
</div>





<div class="row">
    <div class="column">

    

	<form  enctype="multipart/form-data" method="POST" class="form-white-bg">
	
	<legend>Create album:</legend>
		
			{% csrf_token %}
		<div class="form-group">
		  {{ form.as_p }}
		</div>
	
		

		 <legend>Add photos:</legend>
		 {{ image_form.management_form }} 
		<div class="form-group panel panel-default">
			{% for image in image_form.forms %}
			   <div class="link-formset">
					{{ image.as_p }}
				</div>

			{% endfor %}
		</div>
	
	
		<input type="submit" value="submit" class='btn btn-success btn-sm'>

	</form>
	</div>
</div>
</div>

	{{ image_form.prefix }}

{% endblock %}