body {
background:#efefef;
}

.navbar-light .navbar-nav .nav-link.login-btn-nav {
  border-radius:13px;
  color:#fff ;
  border:1px solid #2db04e;
  text-align:center;
  background-color:#2db04e;
}


.navbar-light .navbar-nav .nav-link.login-btn-nav:hover {
  background-color:#4caf50;
  color:#fff;
}

.card {
  background-color:#f9fafb;
  margin:10px 0;
}

.card-text {
  font-size:smaller;
}

.card-body {
  padding: 1rem;
}

.container {
  padding: 1.5rem;

}

.form-white-bg {
  background-color: #f9fafb;
  border: 1px solid #e8e8e8;

  border-radius: 15px;
  padding: 1.5rem;
}

.form-group > input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,165,0,.25);  
}

.form-group > select:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,165,0,.25);  
}


label {
	font-weight:bold;
}

.link-formset.form-inline {
    padding: 10px;
    background-color: #eaeaea;
    margin-bottom: 15px;
  }

  .link-formset .form-control , .link-formset .form-control-file {
    padding:0 10px;
  }

.formset-btn{
  padding:5px 10px;
  color:#607d8b;
  min-width:20px;
  font-weight:bold;

}

a {
  color:#f44336;
}

a:hover {
 text-decoration: none;
}
